.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules/
dist/
build/
.cache/
.env
.env.*
.env.security
security-keys.txt
coverage/
.vscode/
.idea/
*.local
package-lock.json
Ryvie-Front/dist/
Ryvie-Front/build/
Ryvie-Front/node_modules/
Back-end-view/node_modules/
Ryvie-Front/src/config/netbird-data.json